APP_NAME=
APP_URL=
PORT=5000
HOST=

PASSWORD_KEY=password-key

ENV_MODE=development

DB_URI=
DB_NAME=mern
DB_HOST=localhost
DB_PORT=27017
DB_USERNAME=
DB_PASSWORD=


ACCESS_TOKEN_KEY=access-token-key
REFRESH_TOKEN_KEY=refresh-token-key